.spese_rifiutate_area {
    margin-top: 6rem;

}

.spese_rifiutate_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;

}

.spese_rifiutate_area .total {
    background: #FFDDC9;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
}

.spese_rifiutate_area .spese_btn {
    border: none;
    outline: none;
    background: #F5F6F7;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
    padding: 6px 10px;
}

.spese_rifiutate_area .list_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.spese_rifiutate_area .list_area .value {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.spese_rifiutate_area .list_area .value_bold {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.spese_rifiutate_area .list_area .collapse_btn {
    outline: none;
    border: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    background: none;
}

.spese_rifiutate_area .list_area .list .collpse_area {
    background: #F5F6FD;
    border-radius: 5px;
}

.spese_rifiutate_area .list_area .list .collpse_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;

}

.spese_rifiutate_area .list_area .list .collpse_area .btn_download {
    background: #F5F6F7;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    padding: 10px 20px;
    text-decoration: none;
}

.gap-6 {
    gap: 5rem !important;
}