.dipendenti {
    width: 1080px;

}
.dipendenti_team{
    width: 1300px;
}

.dipendenti .dipendenti_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;

}

.dipendenti .dipendenti_number {
    background: rgba(151, 213, 164, 0.33);
    border-radius: 5px;
    outline: none;
    border: none;
}

.dipendenti .dipendenti_content .dipendenti_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
}

.dipendenti .dipendenti_content .add_button {
    background: #5CA96C;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    padding: 9px 20px;
    font-weight: bold;
}