.team_table_area {
    background: #F5F6FD;
    padding: 20px 8px 8px 8px;

}


.team_table thead {
    background: #F5F6F7;
}

.team_table th,
td {
    padding: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */

    /* display: flex;
    align-items: center; */

    color: #49505C;
}

.team_table td {
    background: #FFFFFF;
    border-top: 2px solid #F5F6FD;
    border-bottom: 2px solid #F5F6FD;
}

.team_name:hover{
    cursor: pointer;
    text-decoration: underline;
}