.head_card {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    width: 347px;
    padding: 15px;
    transition: box-shadow 0.5s;
}
.head_card:hover {

    box-shadow: 0px 4px 20px #5CA96C;
}

.head_card .card_body .card_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #585858;

}


.head_card .card_body .card_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #585858;
}