.mansioni_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #979797;
}

.mansioni_area .area {

    background: #F5F6FD;
    border-radius: 5px;
    padding: 10px;
    width: 480px;
}

.mansioni_area .area .btns {

    background: #FFFFFF;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 8px 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;

}

.mansioni_area .area .btns.add {

    background: #FFFFFF;
    border: 1px solid #5CA96C;
    border-radius: 25px;

}