.team_profile {
    width: 1000px;
}

.team_profile .modific_btn {
    background: #F5F6F7;
    border-radius: 5px;
}

.team_profile .profile_area .member_area {
    background: #F5F6FD;
    border-radius: 5px;
    width: 442px;
    min-height: 213px;
}

.team_profile .profile_area {
    margin-top: 5rem;
}

.team_profile .profile_area {
    margin-top: 5rem;
}

.team_profile .profile_area .label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.team_profile .profile_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.team_profile .profile_area .member_label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.team_profile .profile_area .member {
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}