.archivio_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;

}

.archivio_area .year {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;
}

.archivio_area .collapse_btn {
    border: none;
    outline: none;
    background: none;
}

.archivio_area .download_file_list .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;

}

.archivio_area .download_file_list .amount {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;

}

.archivio_area .download_file_list .download_btn {
    background: #F5F6F7;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    padding: 25px 55px;
    text-decoration: none;
}


.archivio_area .select_common {
    display: block;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
    background-image: url(../../../../assets/svg/chevronDown.svg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: #F5F6F7;

}

.archivio_area .select_month {

    border-radius: 5px 0px 0px 5px;


}

.archivio_area .select_anno {
    border-radius: 0px 5px 5px 0px;

}

.archivio_area .table_area .table_box {

    border-collapse: separate;
    border-spacing: 0 9px;

}

.archivio_area .table_area .table_box thead tr {
    background: #F5F6F7;
    border-radius: 5px;
}

.archivio_area .table_area .table_box thead tr th {

    padding: 17px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;
}

.archivio_area .table_area .table_box tbody tr td {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;
    padding: 14px;

}

.archivio_area .table_area .table_box tbody tr {

    background: #FFFFFF;
    border: 0.5px solid #9B9C9D;
    border-radius: 5px;
}

.archivio_area .table_area .table_box tbody .document_btn {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    background: #F5F6F7;
    border-radius: 3px;
    padding: 5px 17px;
    align-items: center;
    text-decoration: none;
}