.report_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #979797;
}

.report_area .subtitle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.report_area .label_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.report_area .to_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;

}

.report_area .select_btn {
    background: #F0F0F0;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;
    border: none;
    outline: none;
    padding: 6px 14px;
    margin-top: 10px;  
}

.report_area .input_box {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    padding: 8px;
    margin-top: 10px;  

}