.ferie_area .per_detail .name {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;
}

.ferie_area .per_detail .title {
    text-transform: uppercase;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.ferie_area .per_detail .total {

    background: #FFE6A5;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
    outline: none;
    border: none;
    padding: 7px 13px;
}

.ferie_area .add_btn {
    background: #5CA96C;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 12px 23px;
}