.persone_modal .close_btn {
    border: none;
    outline: none;
    background: none;

}

.persone_modal .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;

}

.persone_modal .persone_table {
    border-collapse: separate;
    border-spacing: 0 6px;
}

.persone_modal .persone_table thead tr {
    background: #F5F6F7;
    border-radius: 5px;
}

.persone_modal .persone_table thead tr th {
    padding: 19px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #495057;
}

.persone_modal .persone_table tbody tr {
    background: #FFFFFF;
    border: 0.5px solid #9B9C9D;
    border-radius: 5px;
}

.persone_modal .persone_table tbody tr td {

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #495057;
}