.timbrature_area {
    width: 1270px;
}

.timbrature_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;
}

.timbrature_area .sub_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;

}



.historical_tramping {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 18px;
}



.historical_tramping .timbrarue_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 183% */

    letter-spacing: -0.022em;

    color: #49505C;

}

.historical_tramping .filter_btn {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #49505C;
    background: #F5F6F7;
    border-radius: 5px;
    padding: 9px 12px;
    outline: none;
    border: none;
}

.historical_tramping .date_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.historical_tramping .date_input {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    padding: 4px 12px;
    background: none;
    outline: none;
}

.historical_tramping .date_input span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;
}


.timbrature_filter .dropdown {
    background: #F5F6F7;
    border-radius: 5px;
    right: 0%;
    width: 183px;

}

.timbrature_filter .dropdown .lists li {
    padding: 10px 10px;
    border-bottom: 1px solid #C4C4C4;
    text-align: center;
}

.timbrature_paginate button {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    padding: 3px 16px;
}

.timbrature_paginate button.active {
    background: #2B8A3E;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #FFFFFF;
}