.ferie_permessi {
    margin-top: 6rem;

}

.ferie_permessi .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;

}

.ferie_permessi .total {
    background: rgba(148, 214, 151, 0.63);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 8px 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
}

.ferie_permessi .spese_btn {
    border: none;
    outline: none;
    background: #F5F6F7;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
    padding: 6px 10px;
}

.ferie_permessi .list_area .list .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.ferie_permessi .list_area .list .value {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.ferie_permessi .list_area .list .value_bold {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.ferie_permessi .list_area .list .collapse_btn {
    outline: none;
    border: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    background: none;
}

.ferie_permessi .list_area .list .collpse_area {
    background: #F5F6FD;
    border-radius: 5px;
}

.ferie_permessi .list_area .list .collpse_area .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;

}

.ferie_permessi .list_area .list .collpse_area .btn_download {
    background: #F5F6F7;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    padding: 10px 20px;
    text-decoration: none;
}

.ferie_permessi .list_area .list_item_header .list_h_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 183% */

    letter-spacing: -0.022em;

    color: #9B9C9D;
}

.ferie_permessi .list_area .list_item_body .list_dt_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height, or 165% */

    letter-spacing: -0.022em;

    color: #49505C;
}

.ferie_permessi .list_area .list_item_body .feried_btn {
    border: 2px solid #FFE6A5;

}
.ferie_permessi .list_area .list_item_body .permesso_btn {
    border: 2px solid #1ABCFE;

}

.ferie_permessi .list_area .list_item_body .btns {
    border-radius: 3px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;
    padding: 3px 17px;
    text-transform: uppercase;

}