.rimborsi_slider_area {
    background: #F5F6FD;
    border-radius: 5px;
    padding: 70px;
}

.slider_item {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 22px 20px 80px 5px #DBE3ED;
    border-radius: 5px;
}


.slider_item .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}


.slider_item .name_profe {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.slider_item .text_label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.slider_item .text_value {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
}

.slider_item .amount {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;

}

.slider_item .attachment {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    text-decoration: none;
    background: #F5F6F7;
    border-radius: 10px;
    padding: 13px 16px;

}

.swiper-button-prev,.swiper-button-next {
    color: #495057 !important;
    font-weight: bold;
}


.pagination_button .swiper-pagination-bullet {
    background-color: #FFFFFF;
    padding: 6px;
    opacity: 1;
}

.pagination_button .swiper-pagination-bullet-active {
    background-color: #d6d6d6;
    padding: 6px;
}