 .impostazioni_form_area  .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #979797;

}

  .impostazioni_form_area  .edit_btn {
    background: #F5F6F7;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
    border: none;
    outline: none;
    padding: 10px 15px;
}

.impostazioni_form_area .label_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;

}
.impostazioni_form_area .label_link {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -0.022em;
    text-decoration-line: underline;
    color: #979797;

}

.impostazioni_form_area .input_box {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    outline: none;
    border: none;
}

.impostazioni_form_area .input_box:focus {

    outline: none;
    border: none;
}