.new_tutti{
    width: 1250px;
}
.new_tutti .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;
}

.new_tutti .sub_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #49505C;
}

.form .submit_btn_area .annulla_btn {
    background: #FFFFFF;
    border: 1px solid #9B9C9D;
    border-radius: 5px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #495057;
    outline: none;
    padding: 10px 74px;
}

.form .submit_btn_area .submit_btn {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.02em;
    background: #5CA96C;
    border-radius: 5px;
    color: #FFFFFF;
    outline: none;
    border: none;
    padding: 10px 74px;
}