.alert_card {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    /* width: 323px; */
    transition: box-shadow 0.5s;
}

.alert_card:hover {
    box-shadow: 0px 4px 20px rgba(92, 169, 108, 0.51);
}

.alert_card .alert_card_title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #585858;

}

.alert_card .alert_card_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #585858;


}