.uploads_top {
    background: #F5F6FD;
    border-radius: 5px;
}


.nuova_ferie_form .title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;
}

.nuova_ferie_form .label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.nuova_ferie_form .input_field {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    padding: 8px 28px 8px 10px;
}

.nuova_ferie_form .currency_icon {
    top: 40px;
    right: 100px;
}

.nuova_ferie_form .allegati_btn {
    border: none;
    outline: none;
    background: #F5F6F7;
    border-radius: 10px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;
    text-decoration: none;
    padding: 12px 15px;
}

