.edit_form_area {}

.edit_form_area .pro_name {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #49505C;
}



.edit_form_area .label_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;

}

.edit_form_area .input_value {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height, or 165% */
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    letter-spacing: -0.022em;
    padding: 4px 10px;
    color: #49505C;
    margin-top: 8px;
    outline: none;
}

.edit_form_area .from_select {

    background: #F5F6F7;
    border-radius: 2px;
    outline: none;
    border: none;
    padding: 6px 16px;
    margin-top: 8px;
}

.edit_form_area .download_btn {}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5CA96C;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5CA96C;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}