.sede_from_area .input_label {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #9B9C9D;
}

.sede_from_area .input_box {
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    padding: 7px;
    resize: none;
}

.sede_from_area .form_btn {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #495057;
    outline: none;
    padding: 10px 17px;

}

.sede_from_area .reset_btn {
    width: 158px;
    background: #FFFFFF;
    border: 1px solid #9B9C9D;
    border-radius: 5px;
}

.sede_from_area .submit_btn {
    width: 158px;
    background: #5CA96C;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
}

.sede_from_area .file_up_top {
    background: none;
    border-radius: 5px;
    padding: 9px;
}


.sede_from_area .file_up_top .file_upload_area {
    background: #FFFFFF;
    box-shadow: 22px 20px 80px 5px #DBE3ED;
    border-radius: 5px;
    cursor: pointer;
    width: 342px;
    height: 182px;
}

.sede_from_area .file_up_top .file_upload_area .upload_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #49505C;

}

.sede_from_area .file_up_top .file_upload_area .text .text_highlight {
    color: #5CA96C;
    font-weight: 600;
}


.sede_from_area .file_up_top .file_upload_area .upload_icon {
    background-color: #5CA96C;
}

.sede_from_area .seleziona {
    background: #F0F0F0;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #495057;
    padding: 6px 10px;
    outline: none;
    border: none;
}