.sedi_alert_area {
    width: 700px;
}

.sedi_alert_area .alert_ttile {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 33px;
    letter-spacing: -0.022em;
    color: #979797;

}

.sedi_alert_area .add_btn {
    background: #5CA96C;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px 15px;
}